version: '3.4'

services:
  sql.data:
    environment:
      POSTGRES_PASSWORD: 'postgres'
    ports:
      - "5432:5432"

  nosql.data:
    ports:
      - "27017:27017"  

  memory.data:
    ports:
      - "6379:6379"    

  rabbitmq:
    ports:
      - "15672:15672"
      - "5672:5672"
      
  identity.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "5100:80"
    